.main_div {
  background: url("src/assets/img/backgroundDesktop.png");
  background-position: center;
  background-repeat: no-repeat, repeat;
  height: 43.8rem;
  width: 40.6rem;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "logo logo" "logo logo" "prog priceProg" "ceiling priceCeiling";
  grid-auto-rows: minmax(100px, auto);
  grid-row-gap: 0.5em;
  width: 18.75rem;
  margin: 6.4rem;
  padding: 4rem;
  justify-content: center;
  margin-top: 0;
}

.container>div {
  padding: 1rem;
}

.logo {
  grid-area: logo;
  height: 15rem;
  width: 18rem;
  margin-bottom: 1rem;
  background-image: url("src/assets/img/decorTimeBig.png"), url('src/assets/img/secondBackground.jpg'), url("src/assets/img/fire.gif");
  background-size: 30rem 15rem, 18rem 13rem, 19rem 8rem;
  background-position: top 40% left 50%, center bottom, bottom 100% left 40%;
  background-repeat: no-repeat, no-repeat;
  background-origin: border-box;
}

.centeredTextLogo {
  position: relative;
  top: 67%;
  left: 71%;
  transform: translate(-50%, -50%);
}

.designTextLogo {
  color: #F7DA51;
  font-size: 2.5rem;
  font-weight: bold;
}

.centeredFirstPays {
  position: relative;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#designPaysFirst {
  border-radius: 30px;
  border: 1.5px solid #CE6F2E;
  background: #CA390D;
  padding: 0.6rem;
  width: 7.8rem;
  height: auto;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
}

.designClock {
  color: gold;
}

#clock {
  color: white;
}

.prog {
  grid-area: prog;
  background-image: url("src/assets/img/potMediumLabelProg.png");
  background-color: #272214;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat, repeat;
  width: 4.4rem;
  height: 3.1rem;
  border: 1.5px solid #3D3C1E;
  border-right-style: none;
  margin-left: 1rem;
}

.priceProg {
  display: table;
  grid-area: priceProg;
  background-color: #2B2911;
  border: 1.5px solid #3D3C1E;
  border-left-style: none;
  height: 5.2rem;
  padding: 0rem 0.5rem !important;
}

.priceProgText {
  color: gold;
  font-size: 1.6rem;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
}

.ceiling {
  grid-area: ceiling;
  background-image: url("src/assets/img/potMediumLabelCeiling.png");
  background-color: #272214;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat, repeat;
  width: 4.4rem;
  height: 3.1rem;
  border: 1.5px solid #3D3C1E;
  border-right-style: none;
  margin-left: 1rem;
}

.priceCeiling {
  grid-area: priceCeiling;
  background-color: #2B2911;
  border: 1.5px solid #3D3C1E;
  border-left-style: none;
  height: 5.1rem;
  padding: 0rem 0.5rem !important;
}

#priceCeilingText {
  color: gold;
  margin-bottom: 0rem;
  margin-top: 1rem;
  font-size: 3ex;
  font-weight: bold;
}

.paysText {
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

#designPaysSecond {
  border-radius: 30px;
  background-color: #272214;
  width: 9.8rem;
  height: 0.8rem;
  text-align: center;
}

.colorPrice {
  color: gold;
}