<div  class="main_div">
<div class="container">
  <div class="logo">
    <div class="centeredTextLogo designTextLogo">€ 1, 142.34</div>
    <p class="centeredFirstPays" id="designPaysFirst">Pays Before <span><i id="clock" class="fas fa-clock"></i></span><span class="designClock"> 00:00:00</span></p>
  </div>
  <div class="prog">
  </div>
  <div class="priceProg">
      <span class="priceProgText">€ 114,233.62</span>
  </div>
  <div class="ceiling">
  </div>
  <div class="priceCeiling">
      <p id="priceCeilingText">€ 571.17</p>
      <span class="paysText" id="designPaysSecond">Pays Before<span class="colorPrice"> €2,300.00</span></span>
    </div>

</div>

</div>
