@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Pacifico&display=swap');
body {
    overflow: hidden;
    font-family: 'Pacifico', cursive;
    font-family: 'Darker Grotesque', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}